.start-button{
    margin-top: 2rem;
    color: #fffcf7;
    background-color: #3f3f3f;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
    font-weight: 700;
    font-family: "Quicksand", serif !important;
}

.start-button:hover{
    background-color: #000000;
}